@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Domine:400,700");
/*---Burger nav---*/
@-webkit-keyframes slideAway {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
    opacity: 0;
  }
}
@keyframes slideAway {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
    opacity: 0;
  }
}

@-webkit-keyframes barRotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(39deg);
            transform: rotate(39deg);
  }
}

@keyframes barRotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(39deg);
            transform: rotate(39deg);
  }
}

@-webkit-keyframes barRotateR {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-39deg);
            transform: rotate(-39deg);
  }
}

@keyframes barRotateR {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-39deg);
            transform: rotate(-39deg);
  }
}

/*---li bounce---*/
@-webkit-keyframes bounce {
  25% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  50% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  75% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  100% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
}
@keyframes bounce {
  25% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  50% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  75% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  100% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
}

/*---General---*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif !important;
}

.to_top {
  color: #23be4a;
  text-decoration: none;
  margin-right: 1em;
}

.to_top:hover {
  color: #23be4a;
  text-decoration: none;
}

.to_top:visited {
  color: #1fa842;
  text-decoration: none;
}

hr {
  clear: both;
}

.emphasis {
  color: #23be4a;
  font-weight: bold;
  text-decoration: underline;
}

p {
  margin: 0 0.7em;
}

#current {
  font-weight: bold;
  color: #23be4a;
}

.outdated {
  text-decoration: line-through;
}

.color1 {
  background-color: #23be4a;
  width: 20px;
  margin: 0 5px;
  text-align: center;
  padding-top: 3px;
  height: 30px;
  border: 2px solid black;
  cursor: pointer;
}

.color2 {
  background-color: #f58300;
  width: 20px;
  margin: 0 5px;
  text-align: center;
  padding-top: 3px;
  height: 30px;
  border: 2px solid black;
  cursor: pointer;
}

.languageSwitcher {
  border: 2px solid black;
  margin: 0 0.1em;
  min-height: 27px;
  max-height: 27px;
  max-width: 29px;
  min-width: 29px;
  text-align: center;
}

.NL {
  background: url("../IMAGES/BelgischeVlag.png") no-repeat;
}

.EN {
  background: url("../IMAGES/EngelseVlag.png") no-repeat;
}

li {
  list-style-type: none;
}

@media screen and (min-width: 960px) {
  .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .flex-container nav {
    width: 100%;
  }
  .flex-container .menu-content {
    margin-top: 3.5em;
    margin-left: -5px;
  }
  .flex-container nav.dropdown ul {
    margin-left: 0;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.date {
  text-decoration: underline;
  font-weight: bolder;
}

#show {
  cursor: pointer;
  text-decoration: underline;
}

/*---Header---*/
header #homepf {
  margin: 0.5em auto 0;
  width: 130px;
  border: 4px black solid;
  border-radius: 50%;
  clear: both;
}

@media screen and (min-width: 750px) {
  header > h1 {
    display: none;
  }
}

/*---Nav---*/
.dropdown {
  position: relative;
}

.dropdown ul {
  display: block;
  list-style-type: none;
  padding: 0;
}

.dropdown ul li:hover {
  -webkit-animation: bounce 1000ms ease;
          animation: bounce 1000ms ease;
}

.dropdown ul li a {
  font-family: "Montserrat", sans-serif !important;
  display: block;
  padding: 0.45em;
  text-decoration: none;
  color: whitesmoke;
  background-color: black;
  border-bottom: 1px solid #23be4a;
  text-align: center;
}

.dropdown ul li a:hover {
  background: #262626;
}

input[type='checkbox'] {
  display: none;
}

#menu-icon {
  display: block;
  text-decoration: none;
  color: whitesmoke;
  padding: 0.5em;
  font-size: 20px;
  background-color: black;
  text-align: left;
  padding-left: 0.7em;
}

#menu-icon:hover {
  text-decoration: underline;
  color: #23be4a;
}

.menu-content {
  max-height: 0;
  overflow: hidden;
}

/*Toggle effect*/
input:checked ~ div.menu-content {
  max-height: 100%;
}

/*Burger Blocks*/
.dropdown .navbalk1,
.dropdown .navbalk2,
.dropdown .navbalk3 {
  position: absolute;
  background-color: whitesmoke;
  height: 5px;
  width: 40px;
}

.dropdown .navbalk1 {
  top: 9px;
  right: 1.1em;
}

.dropdown .navbalk2 {
  top: 21px;
  right: 1.1em;
}

.dropdown .navbalk3 {
  top: 32px;
  right: 1.1em;
}

div.burger ~ input:checked .navbalk1 {
  -webkit-animation: barRotate 0.5s forwards;
          animation: barRotate 0.5s forwards;
}

div.burger ~ input:checked .navbalk2 {
  -webkit-animation: slideAway 0.5s forwards;
          animation: slideAway 0.5s forwards;
}

div.burger ~ input:checked navbalk3 {
  -webkit-animation: barRotateR 0.5s forwards;
          animation: barRotateR 0.5s forwards;
}

@media screen and (min-width: 750px) {
  #menu-icon {
    display: none;
  }
  .menu-content {
    max-height: 100%;
  }
  .burger {
    display: none;
  }
  nav.dropdown ul {
    border: 4px solid black;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav.dropdown li {
    padding: 0.5em;
    display: inline;
  }
  nav.dropdown li a {
    font-size: 13px;
    display: inline;
    background-color: whitesmoke;
    color: black;
    border-bottom: 0;
    padding: 0em;
  }
  nav.dropdown li a:hover {
    background-color: whitesmoke;
  }
  div.navbalk1,
  div.navbalk2,
  div.navbalk3 {
    display: none;
  }
}

/*---Footer---*/
footer {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: black;
  color: whitesmoke;
}

/*---Body---*/
body {
  background-color: whitesmoke;
}

@media screen and (min-width: 960px) {
  body {
    width: 960px;
    margin: 0 auto;
  }
  body main {
    margin: 0 auto;
  }
}

/*---Social Media Logo's---*/
#fb {
  width: 75px;
  height: 76px;
  background-image: url("../IMAGES/sprites.png");
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
}

#twtr {
  width: 75px;
  height: 75px;
  background-image: url("../IMAGES/sprites.png");
  background-position: -75px 1px;
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
  margin-left: -2.3em;
}

#insta {
  width: 75px;
  height: 76px;
  background-image: url("../IMAGES/sprites.png");
  background-position: -150px 0px;
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
  margin-left: -2.3em;
}

#yt {
  width: 75px;
  height: 76px;
  background-image: url("../IMAGES/sprites.png");
  background-position: -75px -150px;
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
  margin-left: -2.3em;
}

#sc {
  width: 75px;
  height: 76px;
  background-image: url("../IMAGES/sprites.png");
  background-position: -76px -302px;
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
  margin-left: -2.3em;
}

div.socialcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  clear: both;
}

div.socialcontainer a.social {
  text-decoration: none;
  display: block;
}

div.socialcontainer a.social:hover {
  text-decoration: none;
}

div.socialcontainer a.social:visited {
  text-decoration: none;
}

@media screen and (min-width: 750px) {
  div.socialcontainer {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

/*---Home---*/
.intro {
  margin: 1em 0.5em;
}

.keyword {
  color: #2663d4;
}

.string {
  color: #f58300;
}

.if_else {
  display: block;
  margin: 0 auto;
}

/*---Carousel---*/
.slider {
  border: 2px solid black;
  margin-bottom: 0.5em;
  height: 67px;
  display: block;
  width: 100%;
}

.slider_link {
  text-decoration: none;
  color: #23be4a;
}

.slider_link:hover {
  text-decoration: none;
  color: #177d31;
}

/*code block center (rewrite later to make it better!)*/
@media screen and (max-width: 749px) {
  .if_else {
    margin-left: 15%;
  }
}

@media screen and (max-width: 570px) {
  .if_else {
    margin-left: 12%;
  }
}

@media screen and (max-width: 525px) {
  .if_else {
    margin-left: 5%;
    margin-right: 2%;
  }
}

@media screen and (min-width: 751px) {
  .if_else {
    margin-left: 25%;
  }
}

@media screen and (min-width: 960px) {
  .if_else {
    margin-left: 25%;
  }
}

@media screen and (min-width: 880px) {
  .slider {
    display: block;
    float: left;
    width: 30%;
  }
  .slider:first-of-type {
    margin-left: 2%;
  }
  .slider:nth-last-of-type(2) {
    margin: 0 0.5%;
  }
  .slider:last-of-type {
    margin-right: 2%;
  }
}

/*---Info---*/
.year {
  font-weight: bold;
  color: #23be4a;
  text-decoration: underline;
}

sup {
  margin-left: -4px;
}

.dropdownArrow {
  -webkit-transform: rotate(180deg) scale(0.8);
      -ms-transform: rotate(180deg) scale(0.8);
          transform: rotate(180deg) scale(0.8);
  cursor: pointer;
  margin-left: 8px;
}

#resort,
#restore {
  visibility: hidden;
}

@media screen and (min-width: 960px) {
  #resort,
  #restore {
    visibility: visible;
  }
}

/*---Italent---*/
h3.title {
  font-weight: bold;
}

.chargeBy {
  width: 5em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*---CV---*/
th {
  font-family: "Montserrat", sans-serif !important;
}

thead tr th {
  font-weight: bold;
  border-bottom: 2px solid black;
  padding: 0.5em;
  text-align: center;
  color: black;
}

tbody tr {
  border-bottom: 2px solid black;
}

table.competenties td {
  height: 44px;
  width: 50%;
}

tbody tr td {
  padding: 0.5em;
  border-left: 2px solid black;
  height: 44px;
}

tbody tr td:first-child {
  border: 0;
}

tbody tr th {
  border-bottom: 1px solid black;
  background-color: whitesmoke;
  color: black;
}

tbody tr:nth-child(even) {
  background-color: #23be4a;
  color: whitesmoke;
  border-top: 2px solid whitesmoke;
}

.hobbylink {
  color: whitesmoke;
}

table.bijkomendeInfo {
  margin: 1 auto;
}

th.th1,
th.th2,
th.th3 {
  width: 280px;
  height: 20px;
  text-align: center;
}

.curvitd {
  display: none;
}

.curvita {
  display: block;
}

/*---Portfolio---*/
h3.course {
  text-decoration: underline;
  font-weight: bold;
}

a.links {
  color: #23be4a;
  text-decoration: underline;
}

.interCulList {
  margin-left: 3em;
}

.interCulList li {
  list-style-type: circle;
}

/*---Hobby---*/
li.hobby {
  list-style-type: circle !important;
}

.hobby {
  color: #23be4a;
}

.hobby:hover {
  color: #23be4a;
}

p.intro {
  margin: -0.5em 0.5em;
  padding-bottom: 0.3em;
}

article.intro {
  margin: 0.5 0.5em;
}

article.floorball,
article.tennis,
article.winter,
article.fitness,
article.gitaar,
article.IT {
  margin-top: -2em;
}

article.floorball h3,
article.tennis h3,
article.winter h3,
article.fitness h3,
article.gitaar h3,
article.IT h3 {
  letter-spacing: 0.1em;
  color: #23be4a;
  text-decoration: underline;
}

article.floorball p,
article.tennis p,
article.winter p,
article.fitness p,
article.gitaar p,
article.IT p {
  margin: 0 0.5em;
  margin-left: 2em;
}

article.floorball figure img,
article.tennis figure img,
article.winter figure img,
article.fitness figure img,
article.gitaar figure img,
article.IT figure img {
  width: 100%;
  background-color: black;
}

article.floorball figure .caption,
article.tennis figure .caption,
article.winter figure .caption,
article.fitness figure .caption,
article.gitaar figure .caption,
article.IT figure .caption {
  margin-bottom: 0.5em;
  margin-right: 3em;
  clear: both;
}

@media screen and (min-width: 750px) {
  article.floorball figure,
  article.tennis figure,
  article.winter figure,
  article.fitness figure,
  article.gitaar figure,
  article.IT figure {
    width: 100%;
  }
  article.floorball figure img,
  article.tennis figure img,
  article.winter figure img,
  article.fitness figure img,
  article.gitaar figure img,
  article.IT figure img {
    width: 50%;
    display: block;
    margin: 0.2em auto;
  }
}

@media screen and (min-width: 960px) {
  article.floorball figure img,
  article.tennis figure img,
  article.winter figure img,
  article.fitness figure img,
  article.gitaar figure img,
  article.IT figure img {
    width: 55%;
  }
}

/*---Extra links---*/
section.links {
  margin: 0.6em;
}

section.links a.extra_links {
  color: #23be4a;
  text-decoration: underline;
}

.links_intro {
  margin-bottom: 1.5em;
}

/*---Contact---*/
.btn {
  background-color: #23be4a;
  color: whitesmoke;
  border-radius: 7px;
  margin-top: 1em;
}

.btn :hover {
  background: #7ae795;
}

form {
  width: 90%;
  margin: 0 auto;
}

textarea {
  resize: none;
}

#message {
  height: 250px;
}

#feedback {
  width: 150px;
  height: 50px;
  position: fixed;
  text-align: center;
  padding-top: 15px;
  border-radius: 10px;
  color: whitesmoke;
  font-family: "Montserrat", sans-serif;
  visibility: hidden;
  top: 77%;
  left: 55%;
}

@media screen and (min-width: 750px) {
  #feedback {
    top: 80%;
    left: 80%;
  }
}

@media screen and (min-width: 960px) {
  #feedback {
    top: 80%;
    left: 65%;
  }
}
/*# sourceMappingURL=index.css.map */