@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Domine:400,700');
@import 'fonts';
@import 'colors';
@import 'mixins';
@import 'animations';

/*---General---*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $fontFamilyTitles !important;
  }

  .to_top {
    color: $green;
    text-decoration: none;
    &:hover {
      color: $green;
      text-decoration: none;
    }
    &:visited {
      color: darken($green, 5);
      text-decoration: none;
    }
  }

  hr {
    clear: both;
  }

  .emphasis {
    color: $green;
    font-weight: bold;
    text-decoration: underline;
  }

  p {
    margin: 0 0.7em;
  }
  #current {
    font-weight: bold;
    color: $green;
  }
  .outdated {
    text-decoration: line-through;
  }
  .color1 {
    background-color: $green;
    width: 20px;
    margin: 0 5px;
    text-align: center;
    padding-top: 3px;
    height: 30px;
    border: 2px solid $black;
    cursor: pointer;
  }
  .color2 {
    background-color: $yellow;
    width: 20px;
    margin: 0 5px;
    text-align: center;
    padding-top: 3px;
    height: 30px;
    border: 2px solid $black;
    cursor: pointer;
  }
  ul {
    list-style: circle;
    margin-left: 0.75em;
  }
}

@media screen and (min-width: 960px) {
  .flex-container {
    display: flex;
    nav {
      width: 100%;
    }
    .menu-content {
      margin-top: 3.5em;
      margin-left: -5px;
    }
    nav.dropdown ul {
      margin-left: 0;
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.date {
  text-decoration: underline;
  font-weight: bolder;
}
/*---Header---*/

header {
  #homepf {
    margin: 0.5em auto 0;
    width: 130px;
    border: 4px $black solid;
    border-radius: 50%;
    clear: both;
  }
}

@media screen and (min-width: 750px) {
  header > h1 {
    display: none;
  }
}

@media screen and (min-width: 960px) {
}
/*---Nav---*/

.dropdown {
  position: relative;
  ul {
    display: block;
    list-style-type: none;
    padding: 0;
    li {
      &:hover {
        animation: bounce 1000ms ease;
      }
      a {
        font-family: $fontFamilyTitles !important;
        display: block;
        padding: 0.45em;
        text-decoration: none;
        color: $white;
        background-color: $black;
        border-bottom: 1px solid $green;
        text-align: center;
        &:hover {
          background: lighten($black, 15);
        }
      }
    }
  }
}

input[type='checkbox'] {
  display: none;
}

#menu-icon {
  display: block;
  text-decoration: none;
  color: $white;
  padding: 0.5em;
  font-size: 20px;
  background-color: $black;
  text-align: left;
  padding-left: 0.7em;
  &:hover {
    text-decoration: underline;
    color: $green;
  }
}

.menu-content {
  max-height: 0;
  overflow: hidden;
}
/*Toggle effect*/

input:checked ~ div.menu-content {
  max-height: 100%;
}
/*Burger Blocks*/

.dropdown {
  .navbalk1,
  .navbalk2,
  .navbalk3 {
    position: absolute;
    background-color: $white;
    height: 5px;
    width: 40px;
  }
  .navbalk1 {
    top: 9px;
    right: 1.1em;
  }
  .navbalk2 {
    top: 21px;
    right: 1.1em;
  }
  .navbalk3 {
    top: 32px;
    right: 1.1em;
  }
}

div.burger ~ input:checked {
  .navbalk1 {
    animation: barRotate 0.5s forwards;
  }
  .navbalk2 {
    animation: slideAway 0.5s forwards;
  }
  navbalk3 {
    animation: barRotateR 0.5s forwards;
  }
}

@media screen and (min-width: 750px) {
  #menu-icon {
    display: none;
  }
  .menu-content {
    max-height: 100%;
  }
  .burger {
    display: none;
  }
  nav.dropdown ul {
    border: 4px solid $black;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
  }
  nav.dropdown li {
    padding: 0.5em;
    display: inline;
  }
  nav.dropdown li a {
    display: inline;
    background-color: $white;
    color: $black;
    border-bottom: 0;
    padding: 0;
    &:hover {
      background-color: $white;
    }
  }
  div.navbalk1,
  div.navbalk2,
  div.navbalk3 {
    display: none;
  }
}
/*---Footer---*/

footer {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: $black;
  color: $white;
}
/*---Body---*/

body {
  background-color: $white;
}

@media screen and (min-width: 750px) {
}

@media screen and (min-width: 960px) {
  body {
    width: 960px;
    margin: 0 auto;
    main {
      margin: 0 auto;
    }
  }
}
/*---Social Media Logo's---*/

#fb {
  width: 75px;
  height: 76px;
  background-image: url('../IMAGES/sprites.png');
  transform: scale(0.5);
}

#twtr {
  width: 75px;
  height: 75px;
  background-image: url('../IMAGES/sprites.png');
  background-position: -75px 1px;
  transform: scale(0.5);
  margin-left: -2.3em;
}

#insta {
  width: 75px;
  height: 76px;
  background-image: url('../IMAGES/sprites.png');
  background-position: -150px 0px;
  transform: scale(0.5);
  margin-left: -2.3em;
}

#yt {
  width: 75px;
  height: 76px;
  background-image: url('../IMAGES/sprites.png');
  background-position: -75px -150px;
  transform: scale(0.5);
  margin-left: -2.3em;
}

#sc {
  width: 75px;
  height: 76px;
  background-image: url('../IMAGES/sprites.png');
  background-position: -76px -302px;
  transform: scale(0.5);
  margin-left: -2.3em;
}

div.socialcontainer {
  display: flex;
  justify-content: center;
  clear: both;
  a.social {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
    &:visited {
      text-decoration: none;
    }
    display: block;
  }
}

@media screen and (min-width: 750px) {
  div.socialcontainer {
    justify-content: flex-end;
  }
}
/*---Home---*/

.intro {
  margin: 1em 0.5em;
}
.keyword {
  color: $blue;
}
.string {
  color: $yellow;
}

.if_else {
  display: block;
  margin: 0 auto;
}
/*---Carousel---*/

.slider {
  border: 2px solid black;
  margin-bottom: 0.5em;
  height: 67px;
  display: block;
  width: 100%;
}

.slider_link {
  text-decoration: none;
  color: $green;
  &:hover {
    text-decoration: none;
    color: darken($green, $amount: 15);
  }
}

/*code block center (rewrite later to make it better!)*/

@media screen and (max-width: 749px) {
  .if_else {
    margin-left: 15%;
  }
}

@media screen and (max-width: 570px) {
  .if_else {
    margin-left: 12%;
  }
}

@media screen and (max-width: 525px) {
  .if_else {
    margin-left: 5%;
    margin-right: 2%;
  }
}

@media screen and (min-width: 751px) {
  .if_else {
    margin-left: 25%;
  }
}

@media screen and (min-width: 960px) {
  .if_else {
    margin-left: 25%;
  }
}

@media screen and (min-width: 880px) {
  .slider {
    display: block;
    float: left;
    width: 30%;
    &:first-of-type {
      margin-left: 2%;
    }
    &:nth-last-of-type(2) {
      margin: 0 0.5%;
    }
    &:last-of-type {
      margin-right: 2%;
    }
  }
}
/*---Info---*/

.year {
  font-weight: bold;
  @include emphasis($green);
}

sup {
  margin-left: -4px;
}

.dropdownArrow {
  transform: rotate(180deg) scale(0.8);
  cursor: pointer;
  margin-left: 8px;
}

#resort,
#restore {
  visibility: hidden;
}

@media screen and (min-width: 960px) {
  #resort,
  #restore {
    visibility: visible;
  }
}

/*---Italent---*/
h3.title {
  font-weight: bold;
}

.chargeBy {
  width: 5em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*---CV---*/

th {
  font-family: $fontFamilyTitles !important;
}

thead tr th {
  font-weight: bold;
  border-bottom: 2px solid $black;
  padding: 0.5em;
  text-align: center;
  color: $black;
}

tbody tr {
  border-bottom: 2px solid $black;
}

table.competenties td {
  height: 44px;
  width: 50%;
}

tbody tr td {
  padding: 0.5em;
  border-left: 2px solid $black;
  height: 44px;
  &:first-child {
    border: 0;
  }
}

tbody tr th {
  border-bottom: 1px solid $black;
  background-color: $white;
  color: $black;
}

tbody tr:nth-child(even) {
  background-color: $green;
  color: $white;
  border-top: 2px solid $white;
}

.hobbylink {
  color: $white;
}

table.bijkomendeInfo {
  margin: 1 auto;
}

th.th1,
th.th2,
th.th3 {
  width: 280px;
  height: 20px;
  text-align: center;
}
/*---Portfolio---*/

h3.course {
  text-decoration: underline;
  font-weight: bold;
}

a.links {
  @include emphasis($green);
}

.interCulList {
  margin-left: 3em;
  li {
    list-style-type: disc;
  }
}
/*---Hobby---*/

.hobby {
  color: $green;
}

p.intro {
  margin: -0.5em 0.5em;
  padding-bottom: 0.3em;
}

article.intro {
  margin: 0.5 0.5em;
}

article.floorball,
article.tennis,
article.winter,
article.fitness,
article.gitaar,
article.IT {
  margin-top: -2em;
  h3 {
    letter-spacing: 0.1em;
    @include emphasis($green);
  }
  p {
    margin: 0 0.5em;
    margin-left: 5em;
  }
  figure {
    img {
      width: 100%;
    }
    .caption {
      margin-bottom: 0.5em;
      margin-right: 3em;
      clear: both;
    }
  }
}

li {
  list-style-type: none;
}

@media screen and (min-width: 750px) {
  article.floorball,
  article.tennis,
  article.winter,
  article.fitness,
  article.gitaar,
  article.IT {
    clear: both;
    padding: 0.5em 0;
    figure {
      width: 100%;
      img {
        width: 45%;
        float: left;
        margin-right: 1.5em;
      }
      div.caption {
        float: left;
        clear: both;
        text-align: left;
        max-width: 288px;
      }
      p {
        width: 50%;
        float: right;
      }
    }
  }
  article.floorball {
    margin-top: 0;
  }
}

@media screen and (min-width: 960px) {
  article.floorball,
  article.tennis,
  article.winter,
  article.fitness,
  article.gitaar,
  article.IT {
    figure {
      width: 100%;
      img {
        width: 40%;
        float: left;
      }
      div.caption {
        top: 290px;
        width: 100%;
        float: left;
        clear: both;
      }
      p {
        padding-right: 1em;
        float: right;
      }
    }
  }
}
/*---Extra links---*/

section.links {
  margin: 0.6em;
  a.extra_links {
    @include emphasis($green);
  }
}

.links_intro {
  margin-bottom: 1.5em;
}
/*---Contact---*/

.btn {
  background-color: $green;
  color: $white;
  border-radius: 7px;
  margin-top: 1em;
}

form {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

fieldset {
  .gender {
    label {
      display: inline-block;
      width: 160px;
      text-align: left;
    }
  }
  .details {
    label {
      text-align: left;
    }
  }
}

select {
  width: 150px;
}

input[type='text'] {
  width: 150px;
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 750px) {
  legend {
    padding-top: 0.5em;
    width: 350px;
  }
  input[type='text'] {
    width: 170px;
  }
  select {
    width: 170px;
  }
}
@media screen and (min-width: 960px) {
  .cont {
    background: url(../IMAGES/kaderForm.png) no-repeat;
    margin: 0 auto;
    width: 50%;
  }
  fieldset > legend {
    display: none;
  }
}
